body
{
    background-color: linear-gradient(to bottom, #16242f, #294757, #3b6d80, #4d96a9, #61c2d0);
    
}

.container
{
    width: 100%;
    position:absolute;
    top: 10%;
    text-align: center;
}

h2{
    font-family: ;
    font-size: 60px ;
}

.container h1

{
    font-family: 'Press Start 2P', cursive;
    font-size: 150px;
    text-align: center;
    margin: 0;
    letter-spacing: 10px;
}

.container a
{
    text-decoration: none;
    background:#61c2d0;
    padding: 12px 24px ;
    display: inline-block;
    border-radius: 20%;
    font-size: 25px;
    text-transform: uppercase;
}